@media screen and (max-width: 767px){
    .our-photo{
        flex-direction: column;
    }
    .our-photo img{
       
        width: 60%;
        top: 0;
        left: 0;
    }
    .our-photo img:nth-child(1){
        position: static;
        margin-top: 10px;
    }
    .our-photo img:nth-child(2){
        position: static;
    }
    .our-photo img:nth-child(3){
        position: static;
        margin-bottom: 30px;
    }
.portfolio-list{
    flex-wrap: wrap;
    align-content: center;

}
.portfolio-list a{
    flex: 50%;
    margin: auto;
}
.gallery{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

 .gallery img{
     width: 300px;
     height: 300px;
 }
 .company img:nth-of-type(odd){
     margin-right: 0;
 }
 .card{
    margin: 0 0 20px;
}
}
@media (max-width: 992px) {
   
    .logo img{
        width: 160px;
        height: 74px;
    }
   
    #nav-toggle {
        display: block;
        background: transparent;
        position: absolute;
        right: 0;
        top: 10px;
        margin-top: 22px;
        height: 50px;
        z-index: 6;
        width: 50px;
        cursor: pointer;
        transform: translate(0%, -50%);

    }

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: #d03958;
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        content: '';
    }

    #nav-toggle span::after {
        top: 10px;
    }

    #nav-toggle span::before {
        top: -10px;
    }
    .main-menu li{
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    .main-menu a{
        font-weight: 600;
    }
    .main-menu a:hover {
       text-decoration: underline;
    }
    .main-menu a::after, a::before{
        display: none;
    }
    .main-menu{
        display: none;
    }
    .menu-open{
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 70px;
        z-index: 1000;      
        background-color: rgba(0,0,0,0.8);
        overflow: auto;
    }
    .about p{
        margin-bottom: 30px;
    }
    .team-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

   
  /* @media (min-width: 769px) and (max-width: 1399px){
      .gallery{
          width: 80%;
          flex-wrap: wrap;
         justify-content: center;
      }
    
  } */

  @media screen and (max-width: 1024px){
  
  }