h2,
h3,
p {
    margin: 0;
}

.logo img {
    display: block;
    position: relative;
    top: 20px;
    cursor: pointer;
}

header {
    background-color: #09090d;
}
.header-cont{
    display: flex;
    justify-content: space-between;
}
.nav{
    flex: 0 1 68%;
    align-self: center;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.main-menu a {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #a4a4a4;
    text-decoration: none;
    text-transform: uppercase;
}

.main-menu a:hover {
    color: #ffffff;
}
.main-menu a::after, a::before{
    display: block;
    position: absolute;    
    left: 0;    
    width: 0;
    height: 2px;
    background-color: #ff0036;
    content: "";
    transition: width 0.3s ease-out;
}
.main-menu a::after{
    top: 30px;
}
.main-menu a::before{
    bottom: 30px;
}
.main-menu a:hover::after{
    width: 100%;
}
.main-menu a:hover::before{
    width: 100%;
}
.banner {
    background: url(../img/banner.jpg) no-repeat center rgba(0, 0, 0, 0.7);
    background-size: cover;
    min-height: 650px;
    padding: 170px 20px;
}

.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 40px;
}

.accent {
    color: #ff0036;
}

.description {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 40px;

}

.features,
.psd {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #09090d;

}

.features:hover {
    background-color: #ff0036;
}

.psd:hover {
    background-color: #ff0036;
}

/* section About US */
.about{
    padding: 100px 20px;
}
.about .title{
    color: #262626;
}
.about .intro{
    margin-bottom: 40px;
}
.about p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #505050;
    margin-bottom: 100px;
   
}
.subtitle{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #262626;
    margin-left: 56px;
}
.gray-accent{
    display: flex;
    background-color: #f7f7f7;
    width: 100%;
    padding: 16px 0 16px 26px;
    margin-bottom: 10px;
}
.about .who-is{
    display: none;
    margin-bottom: 10px;
    padding: 15px;
}
.about .who-is:last-child{
    margin-bottom: 40px;
}
.fa-plus, .fa-minus{
    cursor: pointer;
}
.info .fa-minus{
    display: none;
}
.our-photo{
    display: flex;
    position: relative;  
    min-height: 500px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
.line{
    border-bottom: 3px solid #09090d;
    height: 3px;
    margin-bottom: 90px;
}
.our-photo img{
    display: block;
    margin: 0 auto;
}
.our-photo img:nth-child(2){
    position: absolute;
    top: -24px;
    left: 100px;
    z-index: 100;
}
.our-photo img:nth-child(3){
    position: absolute;
    top: 0;
    right: -54px;
}
.our-photo img:nth-child(1){
    position: absolute;
    top: 0;
    left: 6px;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.advantage{
    padding-top: 100px;
}
.advantage .subtitle{
    text-align: center;
}
.advantage .subtitle::before{
    position: absolute;
    left: 0px;
    top: 18px;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.advantage .subtitle::before{
    background: url(../img/heart.svg) center no-repeat;
}

  